html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    overscroll-behavior-y: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    z-index: 1;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;

    svg {
        fill: #1b42d8;
    }
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 260px;
    height: 30px;
    pointer-events: all;
}

.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}

.social {
    position: absolute;
    bottom: 15px;
    right: 15px;

    .social-link {
        display: inline-block;
        width: 20px;
        height: 20px;
        pointer-events: all;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translate(0px, 0px);
    pointer-events: none;

    .touch-enabled & {
        display: none;
    }

    &[data-cursor="pointer"] {
        .pointer {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }

    &[data-cursor="cross"] {
        .cross {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }

    &[data-cursor="eye"] {
        .eye {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }

    svg {
        fill: none;
        stroke: #1b42d8;
        stroke-miterlimit: 10;
        stroke-width: 12px;
    }

    > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition-duration: 0.45s;
        transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
        transition-property: opacity transform;
    }

    .pointer {
        width: 30px;
        height: 50px;
        opacity: 0;
    }

    .eye {
        width: 60px;
        height: 60px;
        opacity: 0;
    }

    .cross {
        width: 40px;
        height: 40px;
        opacity: 0;
    }
}